#div-input{
    margin: 0 auto;
    width: 700px;
}
#div-table{
    border: 1px solid black;
    width: 600px;
    margin: 0 auto;
    padding-left: 40px;
}
#newsedit{
    position: fixed;
    top: 60px;
    left: 400px;
}
#edmsg{
    width: 500px;
    height: 200px;
}